---
layout: layout
title: About
---
<div class="home">
  <h1>Hello!</h1>
  <p class="italic">
    Do you see someone making a logical fallacy on <a href="https://reddit.com">Reddit</a>?
    Or are you just looking to learn more about logical fallacies?
  </p>
  <h2>Welcome to Fallacy.in</h2>
  <p>
    This website contains a list of logical fallacies (with an explanation and example)
    and serves as data host and front-end companion for Reddit bot.
  </p>
  <h2>How to use reddit bot?</h2>
  <p>
    Right now, the bot is in testing stage. You can test it out at
    <a href="https://www.reddit.com/r/fallacybottest/">/r/fallacybottest</a> by
    making a comment <i>"keyword + fallacy name"</i>, eg <i>"fallacy in appeal to probability"</i>.
  </p>
  <p>
    Keywords are <i>"what is"</i>, <i>"what's"</i>, <i>"explain"</i> or <i>"fallacy in"</i>.
    Lists of formal and informal fallacies are at the <a href="/"> main </a>page. To add missing ones, check <a href="/contribute.html">Contribute</a> page.
  </p>
</div>
