---
layout: layout
title: About
---
<div class="home">
  <h1>Hello!</h1>
  <p class="italic">
    Do you see someone making a logical fallacy on reddit? Or are you just looking
    to learn about logical fallacies?
  </p>
  <h2>Welcome to Fallacy.in</h2>
  <p>
    This website contains a list of logical fallacies (with an explanation and example)
    and serves as data host and front-end companion for Reddit bot.
  </p>
  <h2>How to use reddit bot?</h2>
  <p>

  </p>
</div>
