---
layout: layout
title: Contribute
---
<div class="home">
  <h1>Fallacy.in</h1>
  <p>
    Both this website and Reddit bot are open-source. You are welcome to contribute.
  </p>
  <h2>
    Website
  </h2>
  <p>
    We are still looking for people who can add new fallacies, or enhance the existing ones.
    Or maybe you are a designer? Then you can help us out, too! Any idea to make this website better will be considered!
  </p>
  <h2>Reddit bot</h2>
  <p>
    Any code can be made better. You may be the one who will make the code of our Reddit bot better.
  </p>
</div>
