---
layout: layout
title: Logical fallacies
---
<div class="home">
  <h1>Logical fallacies</h1>
  <p>
    A fallacy is an incorrect argument in logic and rhetoric which undermines
    an argument's logical validity or more generally an argument's logical soundness.
  </p>
  <p>
    <%= link_to "formal fallacies", '/formal', class: 'button' %>
    <%= link_to "informal fallacies", '/informal', class: 'button' %>
  </p>
</div>
